<!DOCTYPE html>
<html lang="en" class="overscroll-contain">
<%- include("header.ejs") %>
<body class="font-body">
    <div> <!-- Content Wrapper BEGINS -->

<%- include("nav.ejs") %>
    
        <main class="text-gray-600">
            <%- include("about.ejs") %>

            <%- include("partials/seperator.ejs") %>

            <%- include("skillset.ejs") %>
            

            <%- include("partials/seperator.ejs") %>

            <%- include("portfolio.ejs") %>
            
            <%- include("partials/seperator.ejs") %>           

            <%- include("hobbies.ejs") %>

            <%- include("partials/seperator.ejs") %>

            <%- include("misc.ejs") %>

        </main>
    </div> <!-- Content Wrapper ENDS -->
</body>
<%- include("footer.ejs") %>

</html>